@import './base.css';

#app {
  font-weight: normal;
  width: 100%;
  min-height: 100vh;
  margin-top: 60px;
}

a,
.green {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
  padding: 0;
}

@media (hover: hover) {
  a:hover {
    background-color: transparent;
  }
}
